* 
{
  margin: 0;
  padding: 0;
}
body{
  background: #141C24;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
label{
  color: white;
}
h1{
  font-size: 39px; color: white; text-align: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slider-wrapper{
  width: 1000px;
  margin: auto;
}
a, Link:visited{
  text-decoration: none;
  color: white;
}